<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4">
      <h1 class="row-title">Cocktails</h1>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <div class="card"
        <% if cocktail.photo.present? %>
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')"
        <% else %>
        style="background-color: #B7ADCF"
        <% end %> >
          <div class="content">
            <%= link_to cocktail.name, cocktail_path(cocktail), :class=>'h4' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
