<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>Create a new cocktail</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <div class="create-button">
          <%= f.button :submit, class: 'button-content' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
