<div class="cocktail-navbar">
  <!-- Logo -->
  <%= link_to "Cocktails", root_path, :class=>'navbar-cocktail-brand' %>

  <!-- Right Navigation -->
  <div class="hidden-xs hidden-sm">

    <%= link_to "Add a cocktail", new_cocktail_path, :class=>"navbar-button"  %>

  </div>

</div>
